langchain==0.0.320
openai
faiss-cpu==1.7.4
tiktoken
transformers
sentence-transformers
accelerate
pydantic
numpy
pandas
fastapi
uvicorn
rich
scikit-learn
bitsandbytes
chromadb
sqlalchemy
pypdf
sentencepiece
langchain==0.2.4
langchain-community==0.2.4
langsmith==0.1.127
langchain-openai
llama-cpp-python